<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Idea Storage</title>
</head>
<body>
    <p>
    
    <h2>
        Hello! Glad to see you on this site!
    </h2>
    <h2>
       This is <strong>Idea Storage</strong>
    </h2>
    <h2>
        Here you can write your <b>idea</b> and <b>date</b>
    </h2>
    <h2>    
        And it would saves
    </h2>

    <h3>So.. You want to</h3>
    <h3><a href="{{ url_for('login') }}">log in?</a></h3> 
    <h3>or</h3>
    <h3> 
        <a href="{{ url_for('register') }}"> register?</a>
    </h3>
    </p>
</body>
</html>