<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Login in Idea Storage</title>
</head>
<body>
    <p>
    <hr align="center" width="1225" size="2" color="#66ff8c">
    <h2>So.. You want to log in, right?</h2>
    <h3>JUST DO IT!</h3>
    </p>
    
    <form method="post" action="">
        <input name="Login" type="text" placeholder=" Type your login">
        <input name="Password" type="text" placeholder="Type your password">
        <button type="submit">Login me</button>
    </form>
    
    <hr align="center" width="1225" size="2" color="#66ff8c">
</body>
</html>